<!-- views/partials/header.ejs -->
<div class="header clearfix">
    <nav>
        <ul class="nav fixed-top nav-pills pull-right">
            <li role="presentation"><a href="../">Home</a></li>
            <li role="presentation"><a href="../about">About</a></li>
            <li role="presentation"><a href="../contact">Contact</a></li>
            <li role="presentation"><a href="../login">Login</a></li>
            <li role="presentation"><a href="../signup">Signup</a></li>
            <li role="presentation"><a href="../upload">Upload</a></li>
        </ul>
        <h3 class="text-muted">The Uplift Project :<strong> Team2-NJ2</strong></h3>
    </nav>
</div>