<%- include('partials/header') %>
<link rel="stylesheet" href="/public/css/about.css">

<div class="header">

</div>

<div class="container">

  <div class="about">
    <div class="left">
      <h1>About Us</h1>
      <hr>
      <p>We at TEAM2-NJ2 strive to make quality education affordable to the masses. Over the years, the cost of
        education has increased many folds to make it beyond the reach of many. You may be appalled to learn that even
        in most developed nations students resort to prostitution to pay up for their college tuition fees. We want to
        remove this financial barrier to a good education. The only barrier to education must be an individual’s thirst
        for knowledge.</p>

      <p>We believe that by widening the reach of education, by making it freely available, so much can be achieved.</p>
        <p>And this journey started in June, 2020, by a simple idea that "wouldn't it be great,to have a web-portal, with simple
        articles and blogs for programming languages and technologies, just like a friend would share his/her idea!", and TEAM2-NJ2 was born.</p>

    </div>
    <div class="right">
      <img src="https://res.cloudinary.com/arpr/image/upload/v1540359700/adult-affection-baby-755028.jpg">
    </div>
    <div class="clear"></div>
  </div>



  <div class="mission">

    <div class="left">
      <img src="https://res.cloudinary.com/arpr/image/upload/v1540359700/adult-affection-baby-755028.jpg">
    </div>
    <div class="right">
      <h1>Mission Statement</h1>
      <hr>
      <p>Fun & Free Education for ALL</p>

      <p>We provides a quality education for a wide variety of students by offering alternate solutions to traditional schooling utilizing current Internet technologies and proven teaching practices implemented by a team of professionals.</p>
      <p>We provide access to cutting edge 21st century technologies; create diversity through curriculum and student body in order to give them a competitive advantage in this global 21st century.</p>
    </div>
  </div>
</div>
<%- include('partials/footer') %>