<%- include('partials/header') %>

<link rel="stylesheet" href="/public/css/about.css">





<div id="about-main">
    <div style="background:#c9df8a !important" class="jumbotron">
        <div class="jumbotron-inner">
            <div class="top-box">
                <div class="content-box">
                    <h1>
                        About TEAM2-NJ2
                    </h1>
                    <p>
                        These are the faces behind this project. <br /> Our Student Developers from Pre-Final Year,
                        B.Tech-CSE.
                    </p>
                    <p>Saurabh Chauhan & Ritika Jaiswal & Kumari Shivani Singh & Irshad Ansari </p>
                </div>
            </div>
        </div>
        <div class="img-layer-container">
            <div class="team-image" id="team-image">

                <a target="_blank" href="https://www.linkedin.com/in/blitz450/">
                    <img src="/public/images/saurabhchauhan.jpeg" class="rounded shadow z-depth-1-half" width="200"
                        height="200" />
                </a>
                <a target="_blank" href="https://www.linkedin.com/in/ritika-jaiswal-830526198/"> <img
                        src="/public/images/ritika.jpg" class="rounded shadow z-depth-1-half" width="200"
                        height="200" />
                </a>
                <img src="/public/images/shivani.jpg" class="rounded shadow z-depth-1-half" width="200" height="200" />
                <img src="/public/images/irshad.jpg" class="rounded shadow z-depth-1-half" width="200" height="200" />
            </div>

            <!--  <div class="circles-container">
              <div class="img-1">
                  <img src="https://apimatic.io/img/theme/aboutUs/Circles-1-1.svg" />                        
              </div>
              <div class="img-2">
                  <img src="https://apimatic.io/img/theme/aboutUs/Circles-2-1.svg" />                        
              </div>                   
          </div>   -->
        </div>
    </div>
    <div class="story-container">
        <div class="need-for-dx-container">
            <h3 class="text-center">
                Our Vision & Mission
            </h3>
            <p>
                We at TEAM2-NJ2 strive to make quality education resources accessible to the masses. Over the years, the
                cost of
                education has increased many folds to make it beyond the reach of many. You may be appalled to learn
                that even
                in most developed nations students resort to prostitution to pay up for their college tuition fees. We
                want to
                remove this financial barrier to a good education. The only barrier to education must be an individual’s
                thirst
                for knowledge.
            </p>

        </div>
        <div class="container-divider"></div>
        <div class="our-tech-container">
            <h3 class="text-center">
                Our Origin Story
            </h3>
            <p>
                We believe that by widening the reach of education, by making it freely available, so much can be
                achieved.</p>
            <p>And this journey started in June, 2020, by a simple idea that "wouldn't it be great,to have a web-portal,
                with simple
                articles and blogs for programming languages and technologies, just like a friend would share his/her
                idea!", and TEAM2-NJ2 was born.
            </p>

        </div>
        <div class="container-divider"></div>
        <div class="origin-story-container">
            <h3 class="text-center">
                Our Testimonials
            </h3>
            <p>
                <strong>Kumari Shivani Singh - </strong> Being an active participant of The Uplift Project, I have
                learnt a lot from it. From understanding key concepts of Nodejs to implementing it and contributing it
                to an open source team project, I have grown everyday as a developer. Overall It was very exciting
                experience. I have learnt to work in a team and deliver project inside deadline. I am really looking
                forward to be a part of something like this again.
            </p>
            <p>
                <strong>Ritika Jaiswal - </strong> I have been here at The Uplift Project as a participant in Nodejs
                track and this was a ravishing experience for me, I have learned and implemented my skills on various
                tasks assigned to me. I thoroughly enjoyed this overall journey of 3 months where we have worked as a
                team and have successfully created a project that will be helpful for others to enhance their learning
                experience.
            </p>
            <p>
                <strong>Saurabh Chauhan - </strong> It's been a great experience working with the team , from the
                learning phase
                to the project planning & contribution. I have learnt that we always have scope for improving
                ourselves and there is no end to learning. Highly appreciate the dedication shown by the hanndful of
                active team members to proceed with the project submission.
            </p>
        </div>
        <div class="container-divider"></div>
    </div>
</div>
<script src="/public/js/about.js"></script>

<%- include('partials/footer') %>