<%- include('partials/header') %>
<link rel="stylesheet" href="/public/css/fullpost.css">
<div class="border">
    <div class="page"> Article Page
        <div class="category"> CATEGORY </div>
        <h3> A subtitle of the article page </h3>
        <img class="img1"
            src=https://tatilkapadokyada.com/wp-content/uploads/2017/11/haftasonu-kacamagi-kombo-paketi-2.jpg
            width="200" height="130" alt=kapadokya>
        <img class="img2" src=https://yoldaolmak.com/wp-content/uploads/2017/10/Kapadokya-Nasil-Gidilir-341x400.jpg
            width="230" height="350" alt=" balon">

        <div class="clear-fix">
            <h6> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque non lacus ut orci imperdiet
                rhoncus quis a libero. Quisque malesuada augue risus, id tempus dolor porttitor et. Nam vitae tortor mi.
                Donec justo sapien, convallis eu velit tempus, consectetur porttitor justo. Morbi aliquet sed nisl sit
                amet imperdiet. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam erat sem,
                tincidunt ut porta at, vestibulum ac est. Pellentesque sed justo sagittis nulla dignissim porta eget et
                risus. Aliquam ullamcorper laoreet ligula, sit amet mattis velit fringilla id.In vulputate purus tellus,
                sit amet efficitur mauris fringilla in. Quisque viverra, ipsum vitae lobortis tempus, lectus enim
                facilisis orci, a tempus ante risus eu turpis. Nulla euismod, arcu eu elementum interdum, ex magna
                viverra tellus, non sollicitudin dui dolor nec odio. Morbi feugiat mauris non sollicitudin fringilla.
                Duis nec accumsan felis. Sed accumsan aliquam odio. Morbi dictum metus at magna consectetur ullamcorper.
                In hendrerit dapibus orci id ultricies. Proin ut lectus eu justo vulputate feugiat vitae eget libero.
                Curabitur sodales in mauris sed feugiat. Duis finibus a felis sed faucibus. Donec vestibulum imperdiet
                tincidunt. Vestibulum malesuada massa a tincidunt varius. Quisque enim neque, dapibus nec ultricies at,
                dapibus eget est. Phasellus enim leo, lacinia vitae odio in, consectetur tempor ligula.Phasellus quis
                euismod turpis, rhoncus sagittis turpis. Suspendisse mole odales, libero a varius vestibulum, odio
                lectus varius tellus, et congue lacus lorem sit amet arcu. Nam aliquet ligula nec vulputate molestie.
                Sed est neque, pretium quis blandit nec, imperdiet sit amet nisl. Sed molestie nulla ullamcorper sodales
                tincidunt. elit rutrum. Mauris eu velit et metus pulvinar semper.Nulla euismod, arcu eu elementum
                interdum, ex magna viverra tellus, non sollicitudin dui dolor nec odio. Morbi feugiat mauris non
                sollicitudin fringilla. Duis nec accumsan felis. Nam vel mollis mi.</h6>

        </div>
    </div>
    <%- include('partials/footer') %>