<!--views/index.ejs-->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Study Resources</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container">
    <%- include('partials/header') %>
    <div class="jumbotron">
      <h1>Study Resources</h1>
      <p>Study skills, academic skill, or study strategies are approaches applied to learning. They are generally
        critical to success in school,[1] considered essential for acquiring good grades, and useful for learning
        throughout one's life.

        Study skills are an array of skills which tackle the process of organizing and taking in new information,
        retaining information, or dealing with assessments.</p>
    </div>
    <%- include('partials/footer') %>
  </div>
</body>
</html>